/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

h4{
	font-weight: 900;
	text-transform: uppercase;
}

h5{
	font-weight: 900;
}

blockquote{
	border-color: #0D47A1;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.logo-site {
    display: inline-block;
    height: 100%;
}

.logo-site>img {
    vertical-align: middle
}

.banner-saladejustica{
	padding: 20px 0;
	background-image:url('../img/books-back.jpg');
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.btn-padding{
	padding-bottom: 12px !important;
}

/* label focus color */
.input-field input:focus + label {
	color: #0D47A1 !important;
}

/* label underline focus color */
.row .input-field input:focus {
	border-bottom: 1px solid #0D47A1 !important;
	box-shadow: 0 1px 0 0 #0D47A1 !important
}

#icon-search input[type=text]:focus + label {
    width: 100%;
}

#icon-search input[type=text]:focus {
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 white;
}
